# A F &B manager to determine whether tere is any significant fference in the diameter of te cutlet between tw units. A randomly selected sample of cutlets was collected from bot units and mesured?Anaalyse the data and draw inferences at 5% significance level. Please state the asumption and tests that you carrie out to check validity of the assumptons.

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [4]:
df=pd.read_csv('C:/Users/Admin/Downloads/Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
unitA=pd.Series(df.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [8]:
unitB=pd.Series(df.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [10]:
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [12]:
p_value[1]

0.4722394724599501

# A hospital wants to determine whether there is any difference in the average Turn Around Time(TAT) of reports of the laboratories on their preferred list.They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.Analyze the data and determine whether there is any difference is average TAT among the different laboratories at 5% significance level.

In [14]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [16]:
df=pd.read_csv('C:/Users/Admin/Downloads/LabTAT.csv')
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [18]:
p_value=stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [20]:
p_value[1]

2.1156708949992414e-57

# Sales of product in four difference regions is tabulated for males and females.Find if male-female buyer rations are similar across regions.

In [22]:
import pandas as pd
import numpy as np
buyer = pd.read_csv('C:/Users/Admin/Downloads/BuyerRatio.csv')

In [24]:
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [29]:
import scipy.stats as stats
from scipy.stats import chi2_contingency

In [34]:
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)